## General settings for NPMplus and other containers
# -------------------------------------------
# Set timezone, required, set it to one of the values from the "TZ identifier" https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TZ=


## NPMplus settings
# -------------------------------------------
# Email address which should be used for acme, currently optional, may be required in the future, so I recommend you to enter your email here, optional for letsencrypt, but required for zerossl and google public ca
NPMPLUS_ACME_EMAIL=

# Key Identifier for External Account Binding for the acme server, not supported by letsencrypt, optional for zerossl (Login on theier site => Developer), but required for google public ca: https://cloud.google.com/certificate-manager/docs/public-ca-tutorial?hl=de#request-key-hmac
NPMPLUS_ACME_EAB_KID=

# HMAC key for External Account Binding for the acme server, not supported by letsencrypt, optional for zerossl (Login on theier site => Developer), but required for google public ca: https://cloud.google.com/certificate-manager/docs/public-ca-tutorial?hl=de#request-key-hmac
NPMPLUS_ACME_EAB_HMAC_KEY=

# Email to use instead of admin@example.org on first start of NPMplus for the initial user
NPMPLUS_INITIAL_ADMIN_EMAIL=

# password to use instead of a random password which is logged on first start of NPMplus for the initial user
NPMPLUS_INITIAL_ADMIN_PASSWORD=


## GeoIP Update settings
# -------------------------------------------
# Your MaxMind account ID 
GEOIPUPDATE_ACCOUNT_ID=
# Your case-sensitive MaxMind license key
GEOIPUPDATE_LICENSE_KEY=


## open-appsec settings
# -------------------------------------------
# optional, from theier docs: "This allows the open-appsec team to provide you easy assistance in case of any issues you might have with your specific deployment in the future and also to provide you information proactively regarding open-appsec in general or regarding your specific deployment. [...] If we send automatic emails there will also be an opt-out option included for receiving similar communication in the future."
OPENAPPSEC_USER_EMAIL=

# optional, you can specify an openappsec deployment profile token for connecting to their central webinterface  at https://my.openappsec.io, if you leave this commented, make sure to uncomment all other openappsec containers below, see: https://docs.openappsec.io/getting-started/using-the-web-ui-saas/create-a-profile
OPENAPPSEC_AGENT_TOKEN=


## open-appsec smartsync-tuning service settings
# -------------------------------------------
# The database password must not be empty or undefined.
OPENAPPSEC_DB_PASSWORD=

# The database user to use for the openappsec-db container, defaults to "appsec"
OPENAPPSEC_DB_USER=
